html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.content-title {
    font-weight: 800;
}

ul {
    list-style-type: none;
}

.top-bar {
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid grey;
}

.menu-item {
    margin-top: 25px;
}

.menu-item > a {
    color: #636b6f;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.page {
    height: 100%;
}

.left-menu-bar {
    border-right: 1px solid grey;
    height: 100%;
}

.main-content {
    margin-top: 25px;
}

td a {
    margin-top: 15px;
}

td form {
    display: inline;
}